.paragraph1{
  font-size: 100px;
  margin: 100px;
  color: rgb(65, 56, 56);
}
.special{
  font-size: 50px;
  color: blue;
}
.rightpig{
  float: left;
  margin: 50px 150px 150px 250px;
}
 .paragraph{
   margin: 3em;
   font-size: 30px;
 }
 .paragraph2{
   font-family: cursive;
   font-weight: 700;
   font-size: 50px;
   color: rgb(32, 22, 22);
   margin: 0 0 0 450px;
 }